.player-selection-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #09111a;
  border: 3px solid #336dbe;
  border: 2px solid #7da8e3;
  border-radius: 15px;
  padding: 20px 30px;
  width: var(--box-width);
}

.combatant-select-box label {
  margin: 10px;
}

.combatant-select-box select {
  font-family: 'Raleway', sans-serif;
  padding: 2px 5px;
  border-radius: 5px;
}

.player-selection-box button {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: 4px 10px;
  border-radius: 10px;
  border: 2px solid #a5c4ef;
  background-color: #235497;
  color: #fff;
  outline: 1px solid #313131;
  box-shadow: 0px 1px 3px 1px rgba(66, 186, 250, 0.9);
  width: 220px;
}

.player-selection-box button:hover {
  border: 2px solid #276d02;
  background-color: #a0f13d;
  outline: 1px solid #f5f78d;
  color: #000;
  cursor: pointer;
}

.player-selection-box button:disabled {
  border: 2px solid #e8e0d1 !important;
  background-color: #9e9292;
  color: #302f25;
  cursor: not-allowed;
}

.button-and-report {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#report {
  margin-top: 15px;
  font-size: 1.1rem; 
  font-weight: 200;
  color: #fff;
}

#report span {
  font-weight: 400;
  font-size: 1.4rem;
  color: #85c8ff;
}
