@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap');

:root {
  --box-width: 1150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 100;
  background-color: #09111a;
  color: #ffffe8;
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
